<br/>

<table align="center" style="background-color: lightblue; border-style: solid; border-width: 5px;" width="25%" height="50">
  <tr>
    <td align="center">
      <%= link_to('test 1', 'test1') %>
    </td>
    <td align="center">
      <%= link_to('test 2', 'test2') %>
    </td>
  </tr>
</table>


<% if Myuser.count==0 %>
  <table align="center" style="background-color: lightblue; border-style: solid; border-width: 5px;" width="25%" height="50">
    <tr>
      <td align="center">
        <%= link_to('Create first user', 'new_user') %>
      </td>
    </tr>
  </table>
<% elsif logged_in_user_helper %>
  <table align="center" style="background-color: lightblue; border-style: solid; border-width: 5px;" width="70%" height="50">
    <col width="25%">
    <col width="25%">
    <col width="25%">
    <col width="25%">
    <tr>
      <td align="center">
        <%= link_to('Users', myusers_path) %><br/>
        <%= link_to('Updates', updates_path) %>
      </td>
      <td align="center">
        <%= link_to('Logout', 'logout', method: :delete) %>
      </td>
      <td align="center">
        <%= link_to('Clients', clients_path) %>
      </td>
      <td align="center">
        <%= link_to('Update schedules', reminder_schedules_path) %><br/>
        <%= link_to('Templates', templates_path) %>
      </td>
    </tr>
  </table>
<% else %>
  <table align="center" style="background-color: lightblue; border-style: solid; border-width: 5px;" width="25%" height="50">
    <tr>
      <td align="center">
        <%= link_to('Login', 'login')  %>
      </td>
    </tr>
  </table>
<% end %>

</body>


<table>
  <col width="50%"/>
  <col width="50%"/>
  <tr>
    <td>
      <div class="select_box_wrapper" style="margin-top: 4px; background-color: yellow; ">
        <span style="font-weight: bold">Your outstanding updates</span>

        <div class="select_box_list">
          <span style="color: red;">
            <% @myuser.update_reminders.where('window_end_date <= ?', Date.today).order('window_start_date').each do |reminder| %>
              <%= link_to (reminder.task.name + " " + reminder.start_datestg + " " + reminder.end_datestg), update_new_for_task_path(reminder.task) %> <br>
            <% end %>
          </span>
          <% @myuser.update_reminders.where('window_start_date <= ? and window_end_date >= ?', Date.today+10.days, Date.today).order('window_start_date').each do |reminder| %>
            <%= link_to (reminder.task.name + " " + reminder.start_datestg + " " + reminder.end_datestg), update_new_for_task_path(reminder.task) %> <br>
          <% end %>
        </div>
      </div>

    </td>
    <td>
      <div class="select_box_wrapper" style="margin-top: 4px; background-color: lightblue; ">

        <span style="font-weight: bold">Your tasks</span>

        <div class="select_box_list">
          <table>
            <col width="18%"/>
            <col width="25%"/>
            <col width="25%"/>
            <col width="16%"/>
            <col width="16%"/>

            <tr style="font-weight: bold">
              <td>
                Client
              </td>
              <td>
                Job
              </td>

              <td>
                Task
              </td>
              <td>
                Start date
              </td>
              <td>
                End date
              </td>
            </tr>
            <% @tasks.each do |task| %>
              <tr>

                <td><%=  link_to task.job.client.name, edit_client_path(task.job.client) %></td>
                <td><%=  link_to task.job.name, edit_job_path(task.job) %></td>
                <td><%=  link_to task.name, edit_task_path(task) %></td>
                <td style="color: red"><%=  task.start_datestg %></td>
                <td style="color: red"><%=  task.end_datestg %></td>

              </tr>
            <% end %>
          </table>

        </div>
      </div>

    </td>
  </tr>
  <tr>
    <td>
      <div class="select_box_wrapper" style="margin-top: 4px; background-color: lightgreen; ">
        <span style="font-weight: bold">Your clients</span>

        <div class="select_box_list">
        </div>
      </div>

    </td>
</table>
