<table>
  <col width="33%">
  <col width="67%">
  <tr>
    <td>
      <span class="page_heading">
        Configure task<br/>
      </span>
      <span class="heading1" style="font-size: 18pt">
        <br/>
          Client: <%= link_to @client.name, client_path(@client) %><br/>
          Job: <%= link_to @job.name , edit_job_path(@job) %><br/>
        <%= form_for @task do |f| %>
            Name <%= f.text_field :name , :style => "width: 200px;" %>  <%= f.submit "OK" %><br/>
        <% end %>
      </span>

      <%= form_tag task_remove_user_path(@task),  :id => 'remove_users' do %>
        <div class="select_box_wrapper" style="height: 140px; margin-top: 10px; background-color: lightpink">
          <span class="heading2">Fee-earners for this task</span>
          <br/>
          <div class="select_box_list" style="height: 100px">
            <% if @taskmyusers%>

              <% @taskmyusers.each do |myuser| %>
                <span style="white-space: nowrap;">
                  <%=check_box_tag 'check'+myuser.id.to_s %>
                  <%= link_to myuser.first_name + " " + myuser.last_name + " " + myuser.id.to_s, myuser_path(myuser) %>
                </span>
              <% end %>

            <% end %>
          </div>
          <div style="align-items: right">
            <input type="submit" value="Remove fee-earners" form='remove_users' style="margin-top: 4px">
          </div>
        </div>
      <% end %>

      <%= form_tag task_add_user_path(@task),  :id => 'add_users' do %>
        <div class="select_box_wrapper" style="height: 140px; background-color: lightpink">
          <span class="heading2">Other fee-earners for this job</span>
          <br/>
          <div class="select_box_list" style="height: 100px">
            <% if @jobmyusers%>

              <% @jobmyusers.each do |myuser| %>
                <% if @taskmyusers.where(:id => myuser.id).count == 0 %>
                  <span style="white-space: nowrap;">
                    <%=check_box_tag 'check'+myuser.id.to_s %>
                    <%= link_to myuser.first_name + " " + myuser.last_name + " " + myuser.id.to_s, myuser_path(myuser) %>
                  </span>
                <% end %>
              <% end %>

            <% end %>
          </div>
          <div style="align-items: right">
            <input type="submit" value="Add fee-earners" form='add_users' style="margin-top: 4px">
          </div>
        </div>
      <% end %>

    </td>
  <td>
    <div class="select_box_wrapper" style="height: 140px; background-color: yellow">
      <table>
        <col width="30%"/>
        <col width="35%"/>
        <col width="35%"/>
        <tr>
          <td>
            <span class="heading2">Timetabling</span>
          </td>
          <td style="color: red">
            Estimated start date:
            <% if !@task.date_error %>
              <%= @task.start_datestg %>
            <% else %> %>
              #DATE ERROR#
            <% end %>
          </td>
          <td style="color: red">
            Estimated end date:
            <% if !@task.date_error %>
              <%= @task.end_datestg %>
            <% else %> %>
              #DATE ERROR#
            <% end %>
          </td>
        </tr>
      </table>

      <%= form_tag task_linked_path(@task), :id => 'linked' do %>
        Link<%= check_box_tag :linked, 1, @task.linked_flag,  onclick: "this.parentNode.submit();"  %>
      <% end %>

      <%= form_tag task_timing_path(@task), :id => 'timing_form' do %>
        <% if @task.linked_flag %>
         Link to:
              <%= select_tag "linked_to_task", options_for_select(@tasks_to_link_to, @task.linked_to_task_id) , {:style => "width:250px;"} %>

          Start<%= raw( radio_button_tag :start_end, 1, @task.link_to_start) %>
          End<%= raw( radio_button_tag :start_end, 0, !@task.link_to_start) %>

          Offset
          <span style="position: relative; top: 0; left: 0;" >
            <% if @task.bespoke_offset_flag %>>
              <%= text_field_tag "offset_days_text", @task.offset.to_i ,{:style => "width:74px;  text-align: right; position: absolute; top: -2px; left: -2px; background: lightblue;"}  %>
            <% end %>
            <%= select_tag "offset_days_select", options_for_select(@offset_options , offset_days_value(@task) ) , {:style => "width:80px;  text-align-last:right;", :onchange => raw("timing_form.submit()")}%>
            days
          </span>
          <% if !@job.daily_flag %>
            <%= select_tag "offset_hours", options_for_select(@offset_options_hours, offset_duration_hours_value(@task.offset)), {:style => "width:80px;  text-align-last:right;" }%>
            hours
          <% end %>


        <% else %>
          <span> Specify start date<% if !@job.daily_flag %> and time<% end %></span>

          <% if @job.daily_flag %>
            <%= date_select :start_date, "" ,
                            {
                                :order => [:day, :month, :year],
                                :default => @task.start_date,
                                :start_year => 2017,
                                :end_year => 2030 } %>
            <% else %>
            <%= datetime_select :start_date, "" ,
                                {
                                :order => [:day, :month, :year],
                                :default => @task.start_date,
                                :start_year => 2017,
                                :end_year => 2030 } %>

            <% end %>
        <% end %>
        <br/>
        <br/>

        Specify duration
        <%= radio_button_tag :duration, 0 , !@task.fixed_end_date,  onclick: "this.parentNode.submit();" %>

        <% if !@task.fixed_end_date %>
          <span style="position: relative; top: 0; left: 0;" >
              <% if @task.bespoke_duration_flag %>>
              <%= text_field_tag "duration_days_text", @task.duration.to_i ,{:style => "width:44px;  text-align: right; position: absolute; top: -2px; left: -2px; background: lightblue;"}  %>
              <% end %>
            <%= select_tag "duration_days_select", options_for_select(@duration_options, duration_days_value(@task)) , {:style => "width:50px;  text-align-last:right;", :onchange => raw("timing_form.submit()")}%>
            days
            </span>

          <% if !@job.daily_flag %>
            <%= select_tag "duration_hours", options_for_select(@duration_options_hours, offset_duration_hours_value(@task.duration)), {:style => "width:80px;  text-align-last:right;" }%>
            hours
          <% end %>
        <% end %>

        <span style="margin-left: 30px"> Specify end date<% if !@job.daily_flag %> and time<% end %></span>
        <%= radio_button_tag :duration, 1, @task.fixed_end_date, onclick: "this.parentNode.submit();" %>
          <% if @task.fixed_end_date%>
            <% if @job.daily_flag %>

            <%= date_select :end_date, "" ,
                           {
                                :order => [:day, :month, :year],
                                :default => @task.end_date,
                                :start_year => 2017,
                                :end_year => 2030 } %>

            <% else %>

            <%= datetime_select :end_date, "" ,
                                {
                                :order => [:day, :month, :year],
                                :default => @task.end_date,
                                :start_year => 2017,
                                :end_year => 2030 } %>
            <% end %>
          <% end %>
          <br/>
        <div style="margin-top: 6px">
          <%= submit_tag "OK" %>
        </div>

      <% end %>


    </div>

    <div class="select_box_wrapper" style="height: 140px; background-color: lightblue; margin-top: 14px">
      <table>
        <col width="40%"/>
        <col width="60%"/>
        <tr>
          <td>
            <span class="heading2">Progress</span>
            <%= form_tag task_update_progress_path(@task),  :id => 'progress' do %>
              <%= select_tag "progress", options_for_select(@progress, 0), {:style => "width: 50px;  margin-left: 10px;  text-align-last: right;" }%>% complete
              <%= submit_tag "OK" %>
            <% end %>

            <br/><br/>
            <%= button_to "List updates", list_updates_for_task_path(@task), :method =>'get' %>

          </td>
          <td>
            <%= form_tag tasks_import_schedule_path(@task) do %>
            <table>
              <col width="50%"/>
              <col width="50%"/>
              <tr>
                <td>
                  <span class="heading2">Update reminder schedule</span>
                </td>
                <td style="align-items: right">
                   <%= select_tag "schedule", options_for_select(@schedules, "") , {include_blank: 'Choose schedule' , :style => "width:150px;"} %>
                   <%= submit_tag "OK" %>
                <% end %>

                </td>
              </tr>

            </table>

            <%= form_tag task_reminders_completed_path(@task),  :id => 'reminders' do %>
              <div class="select_box_list" style="height: 100px">
                <table>

                <% @task.update_reminders.each do |reminder| %>

                  <col width="60%">
                  <col width="20%">
                  <col width="20%">
                  <tr>
                    <td>
                      <%= link_to reminder.reminder_text, edit_update_reminder_path(reminder) , :method => :get  %> <%= reminder.id.to_s %> <%= reminder.start_datestg %> - <%= reminder.end_datestg %>

                    </td>
                    <td>
                      <%=check_box_tag 'updated' + reminder.id.to_s , 1, reminder.updated_flag, :onchange => raw("reminders.submit()")%>
                      <span style="font-size: xx-small; position: relative; top: -4px">DONE</span>
                    </td>
                    <td>
                      <%= link_to "Delete", delete_reminder_from_task_path(reminder) , :method => :get  %>
                    </td>

                  </tr>
                  </span>
                  <% end %>
              <% end %>
              </table>
            </div>

            <%= button_to "Add new reminder", update_reminder_new_for_task_path(@task), :method => "get" %>
          </td>
        </tr></table>
    </div>


  </td>



  </tr>
</table>


