<table>
  <col width="33%">
  <col width="67%">
  <tr>
    <td>
      <span class="heading1">
        Configure task<br/>
      </span>
      <span class="heading1" style="font-size: 18pt">
        <br/>
          Client: <%= link_to @task.job.client.name, client_path(@task.job.client) %><br/>
          Job: <%= link_to @task.job.name , edit_job_path(@task.job) %><br/>
        <%= form_for @task do |f| %>
        <table>
          <col width="32%"/>
          <col width="68%"/>
          <tr>
            <td>
            Task name
            </td>
            <td>
              <% if @task.myuser_can_edit(logged_in_user_helper) %>
                <%= f.text_field :name , :class=>"input" , :style => "width: 200px;" %>  <%= f.submit "OK", :class=>"small_button" %><br/>
              <% else %>
              <div  class="input" style = "width: 200px; margin-top: 4px; background: #d0d0d0">
                <%= @task.name %>
              </div>
            <% end %>
            </td>
          </tr>
        </table>

        <% end %>
      </span>

        <div class="select_box_wrapper" style="height: 120px; margin-top: 10px; background-color: lightpink">
          <span class="heading2">Fee-earners for this task</span>
          <br/>
          <div class="select_box_list" style="height: 78px">
            <%= form_tag task_remove_user_path(@task),  :id => 'remove_users' do %>
              <% if @task.myusers%>

                <% @task.myusers.each do |myuser| %>
                  <span style="white-space: nowrap;">
                    <% if @task.myuser_can_edit(logged_in_user_helper) %>
                      <%=check_box_tag 'check'+myuser.id.to_s %>
                    <% end %>
                    <%= link_to myuser.name, myuser_path(myuser) %>
                  </span>
                <% end %>

              <% end %>
            <% end %>
          </div>
          <div style="align-items: right">
            <% if @task.myuser_can_edit(logged_in_user_helper) %>
              <input type="submit" value="Remove fee-earners" form='remove_users' class="small_button" style="margin-top: 4px">
            <% end %>
            <button class="small_button" onclick="window.open('<%= tasks_message_forum_path(@task)%>', 'MsgWindow', 'width=400,height=500,left=400,top=100,location=0,status=0,titlebar=0,toolbar=0,menu=0');" >Message forum</bu
              tton>
          </div>
        </div>

      <% if @task.myuser_can_edit(logged_in_user_helper) %>
        <%= form_tag task_add_user_path(@task),  :id => 'add_users' do %>
          <div class="select_box_wrapper" style="height: 80px; background-color: lightpink">
            <span class="heading2">Other fee-earners for this job</span>
            <br/>
            <div class="select_box_list" style="height: 40px">
              <% if @task.job.myusers%>

                <% @task.job.myusers.each do |myuser| %>
                  <% if @task.myusers.where(:id => myuser.id).count == 0 %>
                    <span style="white-space: nowrap;">
                      <%=check_box_tag 'check'+myuser.id.to_s %>
                      <%= link_to myuser.name, myuser_path(myuser) %>
                    </span>
                  <% end %>
                <% end %>

              <% end %>
            </div>
            <div style="align-items: right">
              <input type="submit" value="Add fee-earners" form='add_users' class="small_button" style="margin-top: 4px">
            </div>
          </div>
        <% end %>
        <%= form_tag task_add_user_path(@task),  :id => 'add_users_from_client' do %>
          <div class="select_box_wrapper" style="height: 80px; background-color: lightpink">
            <span class="heading2">Other fee-earners for this client</span>
            <br/>
            <div class="select_box_list" style="height: 40px">
              <% if @task.job.myusers%>

                <% @task.job.client.myusers.each do |myuser| %>
                  <% if @task.myusers.where(:id => myuser.id).count == 0  && @task.job.myusers.where(:id => myuser.id).count == 0 %>
                    <span style="white-space: nowrap;">
                      <%=check_box_tag 'check'+myuser.id.to_s %>
                      <%= link_to myuser.name, myuser_path(myuser) %>
                    </span>
                  <% end %>
                <% end %>

              <% end %>
            </div>
            <div style="align-items: right">
              <input type="submit" value="Add fee-earners" form='add_users_from_client' class="small_button" style="margin-top: 4px">
            </div>
          </div>
        <% end %>

        <%= form_tag task_add_user_path(@task),  :id => 'add_users_from_search' do %>
          <div class="select_box_wrapper" style="height: 80px; background-color: lightpink">
            <span class="heading2">Search for other fee-earners</span>
            <br/>
            <% if @myusers_search.blank? %>
              <%= text_field_tag :search_myusers, "", :class =>"input" %>
              <input type="submit" value="Search" form='add_users_from_search' class="small_button" style="margin-top: 4px">
            <% else %>
              <div class="select_box_list" style="height: 40px">

                  <% @myusers_search.each do |myuser| %>
                    <% if @task.myusers.where(:id => myuser.id).count == 0 %>
                      <span style="white-space: nowrap;">
                        <%=check_box_tag 'check'+myuser.id.to_s %>
                        <%= link_to myuser.name, myuser_path(myuser) %>
                      </span>
                    <% end %>

                <% end %>
              </div>
              <div style="align-items: right">
                <input type="submit" value="Add fee-earners" form='add_users_from_search' class="small_button" style="margin-top: 4px">
                <%= button_to "Clear", edit_task_path(@task), :method =>'get', :class=>"small_button" %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>


    </td>
  <td>
    <div class="select_box_wrapper" style="height: 140px; background-color: lightblue">
      <span class="heading2">Timetabling</span>

      <table>
        <col width="78%">
        <col width="22%">
        <tr>
          <td>
            <%= form_tag task_timing_path(@task), :id => 'timing_form' do %>
              <% if @task.myuser_can_edit(logged_in_user_helper) %>
                Start: fix
                <%= radio_button_tag :linked, 0, !@task.linked_flag, {:style => "margin-left: 0px", :onclick => "timing_form.submit();" } %>
                <% if !@task.linked_flag %>

                  <% if @task.job.daily_flag %>
                    <%= date_select :start_date, "" ,
                                    {
                                        :order => [:day, :month, :year],
                                        :default => @task.start_date} ,
                                        {:class => "input", :onclick => "timing_form.submit();" } %>
                  <% else %>
                    <%= datetime_select :start_date, "" ,
                                        {
                                        :order => [:day, :month, :year],
                                        :default => @task.start_date} ,
                                        {:class => "input", :onclick => "timing_form.submit();" }  %>

                  <% end %>
                <% end %>

                <span style="margin-left: 20px">link</span>
                <%= radio_button_tag :linked, 1, @task.linked_flag,  {:style => "margin-left: 0px", :onclick => "timing_form.submit();" }  %>
                <% if @task.linked_flag %>
                  <%= select_tag "linked_to_task", options_for_select(@tasks_to_link_to, @task.linked_to_task_id) , {:class => "input", :style => "width:230px;", :onclick => "timing_form.submit();"} %>

                  start<%= raw( radio_button_tag :start_end, 1, @task.link_to_start,  {:style => "margin-left: 5px", :onclick => "timing_form.submit();" } ) %>
                  end<%= raw( radio_button_tag :start_end, 0, !@task.link_to_start,  {:style => "margin-left: 5px", :onclick => "timing_form.submit();" } ) %>

                  offset
                  <span style="position: relative; top: 0; left: 0;" >
                    <% if @task.bespoke_offset_flag %>
                      <%= text_field_tag "offset_bespoke_period", @task.offset.to_i ,{:class => "input",:style => "width:44px;  text-align: right; position: absolute; top: -2px; left: -2px; background: lightblue;"} %>
                    <% end %>
                    <%= select_tag "offset_period_select", options_for_select(@offset_options , offset_period_value(@task) ) , {:class => "input", :style => "width:64px;  text-align-last: right;", :onchange => raw("timing_form.submit()")}%>
                  </span>
                  <% if !@task.job.daily_flag %>
                    <%= select_tag "offset_days_hours", options_for_select(["Hrs", "Days"], @task.offset_in_days ? "Days" : "Hours"), {:class => "input",:style => "width:60px; margin-left: 0px; text-align-last:left;", :onchange => raw("timing_form.submit()")} %>
                  <% else %>
                  days
                  <% end %>

                <% end %>
              <% else %>
                <span style="color: blue">Start: </span><%= @task.link_text %>

              <% end %>

          </td>
          <td style="color: red">
            <% if !@task.date_error %>
              <%= @task.start_date_timestg %>
            <% else %> %>
              #DATE ERROR#
            <% end %>
          </td>

        </tr>
        <tr>
          <td>
            <% if @task.myuser_can_edit(logged_in_user_helper) %>
              End: fix
              <%= radio_button_tag :duration, 1, @task.fixed_end_date, {:style => "margin-left: 0px", :onclick => "timing_form.submit();" } %>
                <% if @task.fixed_end_date%>
                  <% if @task.job.daily_flag %>

                    <%= date_select :end_date, "" ,
                                   {
                                        :order => [:day, :month, :year],
                                        :default => @task.end_date
                                      },
                                      {:class => "input" , :onclick => "timing_form.submit();"}  %>

                  <% else %>

                    <%= datetime_select :end_date, "" ,
                                        {
                                        :order => [:day, :month, :year],
                                        :default => @task.end_date
                                       },
                                       {:class => "input", :onclick => "timing_form.submit();" }  %>
                    <% end %>
                  <% end %>
                  <span style="margin-left: 20px">duration</span>

                  <%= radio_button_tag :duration, 0 , !@task.fixed_end_date,  onchange: "timing_form.submit();" %>

                  <% if !@task.fixed_end_date %>
                    <span style="position: relative; top: 0; left: 0;" >
                      <% if @task.bespoke_duration_flag %>
                        <%= text_field_tag "duration_bespoke_period", @task.duration.to_i ,{:style => "width:42px;  text-align: right; position: absolute; top: -2px; left: 2px; background: white;"}  %>
                      <% end %>
                      <%= select_tag "duration_period_select", options_for_select(@duration_options, duration_period_value(@task)) , {:class =>"input" , :style => "width:64px;  text-align-last:right;", :onchange => raw("timing_form.submit()")}%>
                    </span>

                  <% if !@task.job.daily_flag %>
                    <%= select_tag "duration_days_hours", options_for_select(["Hrs", "Days"], @task.duration_in_days ? "Days" : "Hrs"), {:class =>"input", :style => "width:60px; margin-left: 0px; text-align-last:left;", :onchange => raw("timing_form.submit()")} %>
                  <% else %>
                    days
                  <% end %>
                <% end %>
              <% else %>
                <span style="color: blue">End: </span><%= @task.duration_text %>
              <% end %>


          </td>
          <td style="color: red">
              <% if !@task.date_error %>
              <%= @task.end_date_timestg %>
            <% else %> %>
              #DATE ERROR#
            <% end %>
          </td>
        </tr>
        </tr>
          <td>
            <% if @task.myuser_can_edit(logged_in_user_helper) %>
              Comments<br/>
              <%= text_area_tag :comments, "", style: "width:97%; height: 40px" %>
            <% end %>

          </td>
          <td style="text-align: right">
            <input type="button" class="small_button" onclick="location.href='<%= task_log_path(@task) %>';" value="See past changes" />

            <% end %>
          </td>
        </tr>
      </table>


    </div>

    <div class="select_box_wrapper" style="height: 120px; background-color: lightblue; margin-top: 4px">
      <%= form_tag task_update_progress_path(@task),  :id => 'form_progress' do %>
      <table>
        <col width="11%">
        <col width="6%">
        <col width="12%">
        <col width="30%">
        <col width="38%">
        <tr>
          <td><span class="heading2">Progress</span></td>
          </tr>
          <tr>
            <td>
              Time elapsed:
            </td>
            <td>
              <div class="input" style = "width: 43px;  margin-left: 4px; margin-right: 10px; margin-top: 0px; text-align-last: right; background: #d0d0d0">
              <%= number_to_percentage(@task.est_progress * 100, precision: 0) %>
              </div>
            </td>
            <td>

            </td>
            <td>
              Work done:
              <%= select_tag "progress", options_for_select(@progress, @task.percentage_completed.to_i), {:class=>"input" , :style => "width: 50px;  margin-left: 4px; margin-right: 4px; margin-top: 0px;  text-align-last: right;", :onchange  => "form_progress.submit()"} %>
              %
            </td>
            <td style="color: red">
              Next update due: <%= @task.next_update_stg  %>
            </td>
          </tr>
        </table>
        <table>
          <col width="78%">
          <col width="22%">

          <td>
            Comments
            <%= text_area_tag :comments, "", style: "width:97%; height: 40px" %>
            <% end %>
          </td>
          <td style="text-align: right">
            <%= button_to "List all updates", list_updates_for_task_path(@task), :method =>'get', :class=>"small_button" %>
          </td>
          </tr>
        </table>
    </div>





    <% if @task.myuser_can_edit(logged_in_user_helper) %>
      <div class="select_box_wrapper" style="height: 170px; background-color: lightblue; margin-top: 4px">
              <%= form_tag tasks_import_schedule_path(@task) do %>
              <table>
                <col width="50%"/>
                <col width="50%"/>
                <tr>
                  <td>
                    <span class="heading2">Reminders</span>
                  </td>
                  <td style="align-items: right">
                    <%= select_tag "schedule", options_for_select(@schedules, "") , {include_blank: 'Choose bespoke schedule' , :class=> "input", :style => "width:190px;"} %>
                    <%= submit_tag "OK", class: "small_button" %>
                  <% end %>

                  </td>
                </tr>

              </table>

              <%= form_tag task_reminders_completed_path(@task),  :id => 'reminders' do %>
                <div class="select_box_list" style="height: 114px">
                  <table>

                  <% @task.update_reminders.each do |reminder| %>

                    <col width="60%">
                    <col width="40%">
                    <tr>
                      <td>
                        <%= link_to reminder.reminder_text, edit_update_reminder_path(reminder) , :method => :get  %>

                      </td>
                      <td>
                        <%= link_to "Delete", delete_reminder_from_task_path(reminder) , :method => :get  %>
                      </td>

                    </tr>
                    </span>
                    <% end %>
                <% end %>
                </table>
              </div>

              <%= button_to "Add new reminder", update_reminder_new_for_task_path(@task), :method => "get",  :class=>"small_button" %>
            </td>
          </tr></table>
      </div>
    <% end %>
  </td>



  </tr>
</table>
