<script type="text/javascript">

  window.onload = function() {

      var tasks_progress;
      tasks_progress = <%= @job.task_update_array %>

      tasks_progress.forEach (function(task) {
        var c = document.getElementById("myCanvas" + task["task"]);
        var ctx = c.getContext("2d");
        ctx.lineWidth = "0";
        ctx.fillStyle = "red";
        ctx.fillRect(0 , c.height * 0.05 , c.width * task["exp_prog"], c.height * 0.4);

        ctx.fillStyle = "green";
        ctx.fillRect(  0, c.height * 0.55, c.width * task["act_prog"], c.height * 0.4);

      })

    }
</script>

<table>
  <col width="53%">
  <col width="47%">
  <tr>
    <td>
      <span class="heading1" style="font-size: 18pt">
        Configure job<br/>
        Client: <%= link_to @job.client.name, client_path(@job.client) %><br/><br/>
        <%= form_for @job, :method => 'patch' do |f| %>
          <table>
            <col width="20%">
            <col width="70%">
            <tr>
              <td>
                    Job name
                </td>
              <td>
                <%= f.text_field :name , :class=> "input" ,:style => "width: 300px;"  %>          <%= f.submit "OK" , :class=> "input" %>

              </td>
            </tr>
            <tr>
              <td>
                    Comments

              </td>
              <td>
              <%= f.text_area :comments , :class=> "input" ,:style => "width: 300px; height: 100px;" %>  <br/>
              </td>
            </tr>
          </table>
        <% end %>
      </span>

    <br/>

    </td>
    <td>
      <div class="select_box_wrapper" style="height: 86px">
        <span style="font-weight: bold">The team</span>
        <br/>
        <div class="select_box_list" style="height: 45px">
          <% if @job.myusers%>

            <% @job.myusers.each do |myuser| %>
              <%= link_to myuser.first_name + " " + myuser.last_name, myuser_path(myuser) %>
            <% end %>

          <% end %>
        </div>
        <div style="align-items: right">
          <table>
            <col width="25%">
            <col width="75%">
            <tr>
              <td>
                <%= button_to "Amend team" , job_amend_team_path(@job) , :method => :get , :class=> "small_button" %>
              </td>
              <td>
                <button class="small_button" onclick="window.open('<%= jobs_message_forum_path(@job)%>', 'MsgWindow', 'width=400,height=500,left=400,top=100,location=0,status=0,titlebar=0,toolbar=0,menu=0');" >Message forum</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="select_box_wrapper" style="height: 120px; margin-top: 4px">

        <%= form_tag job_timing_path(@job), :id => 'timing_form' do %>
        <table>
          <col width=30%/>
          <col width=70%/>
          <tr>
            <td>
              <span style="font-weight: bold">Timing</span>
            </td>
            <td style="background: lightblue">

            Time zone <%= select_tag "time_zone", options_for_select(ActiveSupport::TimeZone.all.map{|zone| [zone, zone.name]}, @job.time_zone) , {include_blank: 'Please choose' ,  onchange: "timing_form.submit();" , :class=> "input", :style => "width:150px; margin-right: 20px"} %>
          Include weekends <%=check_box_tag :inc_weekends , 1 , @job.include_weekends,  onclick: "timing_form.submit();" %>

            </td>
          </tr>
          <tr>
            <td>
              Daily<%= raw( radio_button_tag :daily_option, 1, @job.daily_flag,  onclick: "timing_form.submit();" ) %>
              Hourly<%= raw( radio_button_tag :daily_option, 0, !@job.daily_flag,  onclick: "timing_form.submit();" ) %>
            </td>
            <td style="background: lightblue">
              <% if !@job.daily_flag %>
                Working day start<%= time_select :working_day_start, "" ,
                                              {
                                                  :order => [:hour, :minute],
                                                  :default =>  @job.local_date_time(@job.working_day_start),
                                                  :minute_step => 30
                                            },
                                              {:class => "input" ,
                                              :onchange => "timing_form.submit()"} %>

               End<%= time_select :working_day_end, "" ,
                                              {
                                                  :order => [:hour, :minute],
                                                  :default => @job.local_date_time(@job.working_day_end),
                                                  :minute_step => 30
                                            },
                                              {:class => "input" ,
                                                :onchange => "timing_form.submit()"} %>
              <% end %>
            </td>
          </tr>

        </table>


        <div style="margin-top: 10px">

          Start date:
          <%= date_select :start, "" ,

                          {
                              :order => [:day, :month, :year],
                              :default => @job.local_date_time(@job.start),
                              :start_year => 2017,
                              :end_year => 2030
                          },
                          {:class=> "input",
                          :onchange => "timing_form.submit()"} %>
          <% if @job.daily_flag %>
              <%= button_to "Set to today" , job_today_path(@job) , :method => :get , :class=> "small_button", :style => "margin-right: 10px" %>
          <% end %>
          <% if !@job.daily_flag %>
          Time:
          <%= time_select :start_time, "" ,
                                          {
                                              :order => [:hour, :minute],
                                              :default => @job.local_date_time(@job.start),
                                              :minute_step => 30
                                        },
                                          {:class=> "input",
                                          :onchange => "timing_form.submit()"} %>
          <%= button_to "Set to now" , job_now_path(@job) , {:class=>"small_button", :method => :get }%>
          <% end %>
          <br/>

          <div style="color: red; margin-top: 10px">Scheduled end date: <%= @job.end_datestg %> </div>
      <% end %>
      </div>
      </div>


    </td>
  </tr>

</table>

<div class="select_box_wrapper" style="margin-top: 4px; background-color: lightblue; height: 250px;">
  <table>
    <col width="10%"/>
    <col width="90%"/>
    <tr>
      <td style="font-weight: bold">
        Tasks

      </td>
      <td>
        <%= form_tag jobs_import_template_path(@job) do %>
          Templates <%= select_tag "template", options_for_select(@templates, "") , {include_blank: 'Please choose' , :class=> "input", :style => "width:250px;"} %>
          <%= submit_tag "OK", :class=> "small_button" %>
        <% end %>

      </td>
    </tr>
  </table>
  <div class="select_box_list" style="height: 188px">
    <% if @job.tasks %>
      <table width="100%">
        <col width="15%">
        <col width="12%">
        <col width="12%">
        <col width="12%">
        <col width="25%">
        <tr style="font-weight: bold;">
          <td>
              Task name
          </td>
          <td>
            Scheduled start
          </td>
          <td>
            Scheduled end
          </td>
          <td>
            Progress
          </td>
          <td>
          </td>
        </tr>

        <% @job.tasks.each do |task| %>
          <tr>
            <td>
              <%= link_to task.name , edit_task_path(task) %>

            </td>

            <td style="color: red">
              <%= task.start_date_timestg %>
            </td>
            <td style="color: red">
              <%= task.end_date_timestg %>
            </td>
            <td>
              <canvas id="myCanvas<%= task.id.to_s %>" width="70" height="10" style="border:1px solid #000000; background-color:white; "></canvas>
              <% p = task.percentage_completed - task.est_progress * 100  %>
              <% if p > 0 %>
                <span style="color: green">
                +<%= number_to_percentage(p , precision: 0) %>
              <% elsif p == 0 %>
                <span style="color: black">
                ==
              <% else %>
              <span style="color: red">
              <%= number_to_percentage(p , precision: 0) %>
              <% end %>
              </span>
            </td>

            <td>
              <%= link_to 'Delete', job_delete_task_path(task), data: { confirm: 'Are you sure you wish to delete ' + task.name + '?' } %></td>

            </td>

          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <table>
    <col width="20%"/>
    <col width="20%"/>
    <col width="60%"/>
    <tr>
      <td>
        <%= button_to "Add task" , new_task_for_job_path(@job) , :method => :get, :class=> "small_button"%>
      </td>
      <td>
        <%= button_to "Delete all tasks" , jobs_delete_all_tasks_path(@job) , :method => :get , :class=> "small_button" %>
      </td>
      <td>

      </td>
    </tr>
  </table>


</div>
