
<%= form_for @myuser, method: :post do |f| %>
  <table>
    <col width="20%"/>
    <col width="40%"/>
    <col width="40%"/>
    <tr>
      <td></td>
      <td>
        <div class="heading1">New user</div >
        <div class="user_text">
          <%= f.label :email, :class =>"user_text" %><br />
        </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , :class =>"user"  %><br/>
      </td>

    </tr>
    <tr>
      <td></td>
      <td>
        <div class="user_text">
          <%= f.label :first_name %><br />
        </div>
        <%= f.text_field :first_name, :class =>"user" %><br/>

      </td>
      <td>
        <div class="user_text">
          <%= f.label :last_name  %><br />
        </div>
        <%= f.text_field :last_name, :class =>"user" %><br/>

      </td>
    </tr>
    <tr>
      <td>

      </td>
      <td>
        <div class="user_text">
          <%= f.label :user_status  %><br />
        </div>


      </td>
      <td>
        <div class="user_text">
        </div>


      </td>
    </tr>
    <tr>
      <td>

      </td>
      <td>
        <%= f.select :user_status, options_for_select(logged_in_user_helper.add_new_user_options, "User") , {} , {class: 'user'} %><br/>

      </td>
      <td>
        <%= f.submit "Send invitation", :class =>"large_button" %>

      </td>

    </tr>



  </table>
<% end %>
