<table>
  <col width="20%"/>
  <col width="60%"/>
  <col width="20%"/>
  <tr>
    <td></td>
    <td>
    <div class="heading1" style="margin-top: 50px">You are creating a user with <%= @myuser.user_status %> status.  Please confirm by entering in your password. </div >

    <%= form_tag confirm_for_new_admin_user_path, :method => 'post' do  %>
    <br/>
    <%= password_field_tag :password, "", {:autofocus => true, :autocomplete=> "new-password", :class =>"user" } %>
    <br/>
    <%= hidden_field_tag :email, @myuser.email %>
    <%= hidden_field_tag :first_name, @myuser.first_name %>
    <%= hidden_field_tag :last_name, @myuser.last_name %>
    <%= hidden_field_tag :user_status, @myuser.user_status %>
    <%= submit_tag "Confirm", :class =>"user", :style =>"width: 160px; margin-top:20px; background: lightyellow;" %>
    <% end %>

    </td>

    <td></td>
  </tr>

</table>
