
  <table>
    <col width="10%"/>
    <col width="40%"/>
    <col width="50%"/>
    <tr>
      <td></td>
      <td>
        <div class="user" style="background: cyan">
          Name: <%=@myuser.first_name %> <%=@myuser.last_name %>
        </div>
      </td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td>
        <div class="user">
          Office: <%=@myuser.office %>
        </div>
      </td>
      <td>
        <div class="user">
          Team: <%=@myuser.team %>
        </div>
      </td>
    </tr>

    <tr>
      <td></td>
      <td>
        <div class="user">
          Position: <%=@myuser.position %>
        </div>
      </td>
      <td>
        <div class="user">
          Experience: <%=@myuser.experience %>
        </div>
      </td>
    </tr>

    <tr>
      <td></td>
      <td>
        <div class="user">
          User status: <%=@myuser.user_status %>
        </div>
      </td>
      <td>
      </td>
    </tr>

    <tr>
      <td></td>
      <td>
        <div class="user">
          Email: <%= mail_to @myuser.email %>
        </div>
        <% if @myuser.myuser_can_edit(logged_in_user_helper) %>
          <div class="user_text">
            <%= link_to('Edit user', edit_myuser_path(@myuser)) %>
          </div>
        <% end %>
      </td>
      <td>
        <div class="user" style="height: 120px; width: 500px">
            <div class="select_box_list" style="height: 115px; width: 500px">
            <table>
              <col width="30%"/>
              <col width="70%"/>
              <tr>
                <td>
                  Work tel
                </td>
                <td>
                  <%= telephone_link(@myuser.work_tel) %>
                </td>
              </tr>
              <tr>
                <td>
                  Mobile tel
                </td>
                <td>
                  <%= telephone_link(@myuser.mobile_tel) %>
                </td>
              </tr>
              <tr>
                <td>
                  Home tel
                </td>
                <td>
                  <%= telephone_link(@myuser.home_tel) %>
                </td>
              </tr>
              <tr>
                <td>
                  Other 1
                </td>
                <td>
                  <%= telephone_link(@myuser.other_tel1) %>
                </td>
              </tr>
              <tr>
                <td>
                  Other 2
                </td>
                <td>
                  <%= telephone_link(@myuser.other_tel2) %>
                </td>
              </tr>

            </table>
          </div>
        </div>

      </td>
    </tr>



  </table>
