<table style="height: 68vh;" width="100%">
  <col width="66%">
  <col width="33%">
  <tr>
    <td style="vertical-align: top;">
      <h1>Client: <%= @client.name%></h1>

      <div class="select_box_wrapper" style="margin-top: 4px; height: 400px; background-color: cyan; ">
        <span style="font-weight: bold">Jobs</span>
        <div class="select_box_list" style="margin-top: 4px; height: 354px;"">
          <% if @contacts %>
            <table width="100%">
              <col width="60%">
              <col width="40%">

              <% @jobs.each do |job| %>
                <tr>
                  <td>
                    <%= link_to job.name , edit_job_path(job) %>
                  </td>
                  <td><%= link_to 'Delete', client_delete_job_path(job), data: { confirm: 'Are you sure you wish to delete ' + job.name + '?' } %></td>

                </tr>
              <% end %>
            </table>
          <% end %>
        </div>
        <%= button_to "Add job" , new_job_for_client_path(@client) , :method => :get, class: "small_button" %>
      </div>



    </td>
    <td >



      <%= form_tag client_users_path(@client),  :id => 'remove_supervisers' do %>
        <div class="select_box_wrapper" style="height: 100px">
          <span style="font-weight: bold">Fee-earner supervisers for this client</span>

          <br/>
          <div class="select_box_list" style="height: 61px">
            <% if @clientmyusers%>

              <table width="100%">
                <col width="45%">
                <col width="15%">
                <col width="20%">
                <col width="20%">

                <% Superviser.where('client_id=?', @client.id).uniq.each do |superviser| %>
                  <% myuser=Myuser.find(superviser.myuser_id) %>
                  <tr>
                    <td>
                      <%=check_box_tag 'check'+myuser.id.to_s %>
                      <%= link_to myuser.first_name + " " + myuser.last_name, myuser_path(myuser) %>
                    </td>
                    <td><%= myuser.team %></td>
                    <td><%= myuser.office %></td>
                    <td><%= myuser.position %></td>
                  </tr>
                <% end %>

              </table>
            <% end %>
          </div>
          <input type="submit" name="function" value="Remove superviser(s)" form='remove_supervisers' class="small_button" >
        </div>

      <% end %>



      <%= form_tag client_users_path(@client),  :id => 'client_users' do %>
        <div class="select_box_wrapper" style="height: 140px; margin-top: 2px">
          <span style="font-weight: bold">Fee-earners associated with this client</span>

          <br/>
          <div class="select_box_list" style="height: 102px;">
            <% if @clientmyusers%>

              <table width="100%">
                <col width="45%">
                <col width="15%">
                <col width="20%">
                <col width="20%">

                <% @client.myusers.uniq.each do |myuser| %>
                  <% if Superviser.where('client_id =? AND myuser_id=?', @client.id, myuser.id).count==0 %>
                   <tr>
                      <td>
                        <%=check_box_tag 'check'+myuser.id.to_s %>
                        <%= link_to myuser.first_name + " " + myuser.last_name, myuser_path(myuser) %>
                        <%= myuser.id.to_s  %>
                      </td>
                      <td><%= myuser.team %></td>
                      <td><%= myuser.office %></td>
                      <td><%= myuser.position %></td>
                    </tr>
                  <% end %>
                <% end %>

              </table>
            <% end %>
          </div>
          <input type="submit" name="function" value="Remove user(s)" form='client_users' class="small_button" style="width: 120px" />
          <input type="submit" name="function" value="Add as superviser(s)" form='client_users' class="small_button" style="width: 150px" />

          <% if !@show_all_fes_flag %>
            <input type="submit" name="function" value="Show other user(s)" form='client_users' class="small_button" style="width: 140px" />
          <% end %>

        </div>

      <% end %>

      <% if @show_all_fes_flag %>

        <%= form_tag client_users_path(@client),  :id => 'add_users' do %>
          <div class="select_box_wrapper" style=" margin-top: 4px">
            <span style="font-weight: bold">Other fee-earners</span>

            <div class="select_box_list">
              <% if @myusers%>
                <table width="100%">
                  <col width="45%">
                  <col width="15%">
                  <col width="20%">
                  <col width="20%">

                  <% @myusers.each do |myuser| %>
                  <% if @clientmyusers.where(:id => myuser.id).count == 0 %>
                    <tr>
                      <td>
                        <%=check_box_tag 'check'+myuser.id.to_s %>
                        <%= link_to myuser.first_name + " " + myuser.last_name, myuser_path(myuser) %>
                      </td>
                      <td><%= myuser.team %></td>
                      <td><%= myuser.office %></td>
                      <td><%= myuser.position %></td>
                    </tr>
                  <% end %>
                <% end %>
                </table>
              <% end %>
            </div>
            <input type="submit" name="function" value="Add user(s)" form='add_users' class="small_button" style="width: 180px">
            <input type="submit" name="function" value="Hide other user(s)" form='add_users'  class="small_button" style="width: 130px; background-color: lightpink; margin-top: 4px; margin-left: 14px">


          </div>
        <% end %>


      <% else %>


        <div class="select_box_wrapper" style="margin-top: 2px; height: 140px;">
          <span style="font-weight: bold">Client contacts</span>

          <div class="select_box_list" style="height: 100px;">
            <% if @contacts %>
              <table width="100%">
                <col width="60%">
                <col width="40%">

                <% @contacts.each do |contact| %>
                  <tr>
                    <td>
                      <%= link_to contact.first_name + " " + contact.last_name , contact_path(contact) %>
                    </td>
                    <td><%= mail_to contact.email%></td>
                  </tr>
                <% end %>
              </table>
            <% end %>
          </div>
          <%= button_to "Add contacts" , new_contact_for_client_path(@client) , :method => :get , class: "small_button" %>
        </div>




      <% end %>


    </td>
  </tr>
</table>

<table>
  <col width="100%">
  <tr>
    <%= button_to "Edit client", edit_client_path(@client),  method: :get, class: "small_button" , style: "margin-left: 10px" %>

    <% if Myuser.find(session[:logged_in_user]).user_status == Rails.configuration.super_admin_name %>
      <%= button_to "Delete client", client_path(@client) , method: :delete, data: {confirm: "Are you sure?"} , class: "small_button" , style: "margin-left: 10px"  %>
    <% end %>

    <%= button_to 'Clients home page', clients_path , class: "small_button" , style: "margin-left: 10px" %>
  </tr>
</table>
