<%= form_with(model: update_reminder, local: true) do |form| %>
  <% if update_reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(update_reminder.errors.count, "error") %> prohibited this update_reminder from being saved:</h2>

      <ul>
      <% update_reminder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.number_field :type %>
  </div>

  <div class="field">
    <%= form.label :proportion %>
    <%= form.text_field :proportion %>
  </div>

  <div class="field">
    <%= form.label :start_end %>
    <%= form.text_field :start_end %>
  </div>

  <div class="field">
    <%= form.label :offset %>
    <%= form.text_field :offset %>
  </div>

  <div class="field">
    <%= form.label :day_time %>
    <%= form.text_field :day_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
