<table>
  <col width="33%">
  <col width="67%">
  <tr>
    <td>
      <span class="page_heading">
        Updates for<br/>
      </span>
        <br/>
        <div class="select_box_wrapper" style="height: 30px; margin-top: 10px; background-color: lightpink">
          <table>
            <col width="20%"/>
            <col width="40%"/>
            <col width="40%"/>
            <tr>
              <td>
                <span style="font-weight:bold">Client: </span><%= link_to @task.job.client.name, client_path(@task.job.client) %><br/>
              </td>
              <td>
                <span style="font-weight:bold">Job: </span><%= link_to @task.job.name , edit_job_path(@task.job) %><br/>
              </td>
              <td>
                <span style="font-weight:bold">Task: </span><%= link_to @task.name , edit_task_path(@task) %><br/>
              <td>
            </tr>
          </table>
        </div>

    </td>
  </tr>
</table>

<table>
  <col width="10%"/>
  <col width="14%"/>
  <col width="8%"/>
  <col width="8%"/>
  <col width="60%"/>
  <tr>
    <td>Date/time</td>
    <td>Fee-earner</td>
    <td>Progress</td>
    <td>Time passed</td>
    <td>Comments</td>

  </tr>

  <% @task.updates.order('created_at').each do |update| %>
    <tr>
      <td><%= update.created_at_date_stg %> </td>
      <td><%= update.myuser.first_name %> <%= update.myuser.last_name %></td>
      <td> <%= update.percentage_completed.to_i %>%</td>
      <td>
        <% if update.percentage_completed < update.percentage_time_passed %>
          <scan style="color: red"><%= update.percentage_time_passed.to_i %>%</scan>
        <% else %>
          <%= update.percentage_time_passed.to_i%>%
        <% end %>
      </td>
      <td> <%= update.comments %> </td>
    </tr>
  <% end %>


</table>
