<!DOCTYPE html>
<html>
<head >
  <title>OnTime</title>
    <%= csrf_meta_tags %>
  <%= csp_meta_tag %>



  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script type="text/javascript">

  function confSubmit(form, message) {
  if (confirm(message)) {
  form.submit();
  }

  else {
  }
  }
  </script>


</head>


<body style="background-color: #d3d3e0; font-family: Arial;" >

<% if ! alert_helper.blank? %>
  <p class="alert"><%= alert_helper  %></p>
  <% @alert ="" %>
<% end %>

<table style="width:100%" align="center" >
  <col width="15%">
  <col width="60%">
  <col width="15%">

  <tr>

    <td align="center" style="font-size: 40px"; >
      <%= link_to('Home', root_path) %>
      <div align="center" style="font-size: 10pt; color: darkblue; font-weight: bold">Project management for legal
        <div class="dropdown">
          services
          <div class="dropdown-content">
            <%= link_to('Test1', test1_path) %>
            <%= link_to('Test2', test2_path) %>
            <%= link_to('Reset to two users', reset_to_two_users_path) %>
            <%= link_to('Add jobs and tasks', add_jobs_and_tasks_path) %>
            <%= link_to('Set up clients', set_up_clients_path) %>
          </div>
        </div>
      </div>

    </td>


    <td align="center" style="font-size: 50pt; font-weight: bold">
      <%= image_tag("LOT.jpg") %>
    </td>

    <td align="center" style="font-size: 10pt; font-weight: bold">
      <% if logged_in_user_helper then %>
      Logged in as <%= logged_in_user_helper.name %> (<%= logged_in_user_helper.email %>; user id:<%= logged_in_user_helper.id%>; <%= logged_in_user_helper.user_status %>)<br/>
      <%= link_to('Account', logout_path) %>   <%= link_to('Logout', logout_path, method: :delete) %><br/>
      <% end %>
      [Number of users:
      <%= Myuser.count.to_s %>]
      Change<br/>
      <div class="dropdown" style="text-decoration: underline; ">
        Cheat login
        <div class="dropdown-content" style="right: 0px;">
          <%= form_tag  cheat_log_in_path, id: "cheat_login" do %>
            <%= select_tag :myuser, options_for_select(options_for_select(Myuser.all.map{|myuser| [myuser.name, myuser.id]}), "") , {:class=> "input", :onchange => "cheat_login.submit();", :include_blank => 'Please choose',  :style => "width:150px;"} %>
          <% end %>
        </div>
      </div>
    </td>

    </td>

  </tr>
</table>



<%= yield %>
</body>
</html>
