<!DOCTYPE html>
<html>
<head >
  <title>OnTime</title>
    <%= csrf_meta_tags %>
  <%= csp_meta_tag %>



  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script type="text/javascript">

  function confSubmit(form, message) {
  if (confirm(message)) {
  form.submit();
  }

  else {
  }
  }
  </script>


</head>


<body style="background-color: #d3d3e0">

<% if ! alert_helper.blank? %>
  <p class="alert"><%= alert_helper  %></p>
  <% @alert ="" %>
<% end %>

<table style="width:100%" align="center" >
  <col width="15%">
  <col width="60%">
  <col width="15%">

  <tr>

    <td align="center" style="font-size: 40px"; >
      <%= link_to('Home', root_path) %>
      <div align="center" style="font-size: 10pt; color: darkblue; font-weight: bold">Project management for legal services</div>

    </td>

    <td align="center" style="font-size: 50pt; font-weight: bold">On
      <span style="font-style: italic">Time</span>
    </td>

    <td align="center" style="font-size: 10pt; font-weight: bold">
      <% if logged_in_user_helper then %>
      Logged in as <%= logged_in_user_helper.first_name %> <%= logged_in_user_helper.last_name %>(<%= logged_in_user_helper.email %>)<br/>
        <%= logged_in_user_helper.id%><br/>
      <% end %>
      Number of users:
      <%= Myuser.count.to_s %>
    </td>

  </tr>
</table>



<%= yield %>
</body>
</html>
